.ProfileAddInterestScreenContent{
    background-color: var(--app-color-tertiary);
    height: 100%;
    padding: 5px;

    p{
        margin: 0;
        padding: 10px;
        color: white;
        text-align: center;
    }
    .sec-profileInterest__btn{
        margin-top: 10%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;


        .btnInterest{
            margin: 10px;
            padding: 10px;
            border-radius: 50px;
            background-color: var(--app-color-primary);
            width: 80px;
            color: white;
        }
    }
}