/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */
/** Ionic CSS Variables **/
:root {
  /** primary-app **/
  --app-color-primary: #FD6B80;
  --app-color-primary-rgb: ;
  /** secondary-app **/
  --app-color-secondary: #FF4D67;
  --app-color-secondary-rgb: ;
  /** tertiary-app **/
  --app-color-tertiary: #23252F;
  --app-color-tertiary-rgb: ;
  /** primary **/
  --ion-color-primary: #222428;
  --ion-color-primary-rgb: 34, 36, 40;
  --ion-color-primary-shade: #1e2023;
  --ion-color-primary-tint: #383a3e;
  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;
  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;
  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;
  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;
  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;
  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;
  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;
  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

.loginScreenContent {
  background-color: var(--app-color-tertiary);
  height: 100%;
}
.loginScreenContent .sec-login__img {
  width: 250px;
  height: 250px;
  margin: auto;
}
.loginScreenContent .sec-login__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginScreenContent .sec-login__inputs p {
  color: white;
  text-align: center;
}
.loginScreenContent .sec-login__inputs ion-item.custom {
  --background: #be6b6b78;
  color: white;
}
.loginScreenContent .sec-login__inputs .loginScreenInput {
  margin: 10px;
  border-radius: 50px;
  border: solid var(--app-color-secondary) 2px;
  width: 80%;
}
.loginScreenContent .sec-login__inputs .btnNext {
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
  background-color: var(--app-color-primary);
  width: 80%;
  color: white;
}
.loginScreenContent .sec-login__href {
  margin-top: 10%;
  text-align: center;
}
.loginScreenContent .sec-login__href a {
  color: white;
}

.RegisterScreenContent {
  background-color: var(--app-color-tertiary);
  height: 100%;
}
.RegisterScreenContent .sec-register__img {
  width: 250px;
  height: 250px;
  margin: auto;
}
.RegisterScreenContent .sec-register__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.RegisterScreenContent .sec-register__inputs p {
  color: white;
  text-align: center;
}
.RegisterScreenContent .sec-register__inputs ion-item.custom {
  --background: #be6b6b78;
  color: white;
}
.RegisterScreenContent .sec-register__inputs .registerScreenInput {
  margin: 10px;
  border-radius: 50px;
  border: solid var(--app-color-secondary) 2px;
  width: 80%;
  --background-color: rgb(43, 42, 42);
}
.RegisterScreenContent .sec-register__inputs .btnNext {
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
  background-color: var(--app-color-primary);
  width: 80%;
  color: white;
}
.RegisterScreenContent .sec-register__href {
  margin-top: 10%;
  text-align: center;
}
.RegisterScreenContent .sec-register__href a {
  color: white;
}

.HomeContent {
  background-color: #1A1B22;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.HomeContent .sec-home__cardContent .sec-home-cardContent__card {
  background-color: var(--app-color-tertiary);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: solid var(--app-color-secondary) 2px;
  color: var(--app-color-primary);
  text-align: center;
  height: 15vh;
  width: auto;
}

.ProfileAddInfoScreenContent {
  background-color: var(--app-color-tertiary);
  height: auto;
}
.ProfileAddInfoScreenContent .sec-profileInfo__img {
  width: 250px;
  height: 250px;
  margin: auto;
}
.ProfileAddInfoScreenContent .sec-profileInfo__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ProfileAddInfoScreenContent .sec-profileInfo__inputs p {
  color: white;
  text-align: center;
}
.ProfileAddInfoScreenContent .sec-profileInfo__inputs ion-item.custom {
  --background: #be6b6b78;
  color: white;
}
.ProfileAddInfoScreenContent .sec-profileInfo__inputs .ProfileAddInfoScreenInput {
  margin: 10px;
  border-radius: 50px;
  border: solid var(--app-color-secondary) 2px;
  width: 80%;
}
.ProfileAddInfoScreenContent .sec-profileInfo__inputs .btnNext {
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
  background-color: var(--app-color-primary);
  width: 80%;
  color: white;
}

.ProfileAddInterestScreenContent {
  background-color: var(--app-color-tertiary);
  height: 100%;
  padding: 5px;
}
.ProfileAddInterestScreenContent p {
  margin: 0;
  padding: 10px;
  color: white;
  text-align: center;
}
.ProfileAddInterestScreenContent .sec-profileInterest__btn {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ProfileAddInterestScreenContent .sec-profileInterest__btn .btnInterest {
  margin: 10px;
  padding: 10px;
  border-radius: 50px;
  background-color: var(--app-color-primary);
  width: 80px;
  color: white;
}

.ProfileAddPhotoContent {
  background-color: #1A1B22;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.ProfileAddPhotoContent p {
  color: white;
}
.ProfileAddPhotoContent .sec-ProfileAddPhoto-cardContent__card {
  background-color: var(--app-color-tertiary);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: solid var(--app-color-secondary) 2px;
  color: var(--app-color-primary);
  height: 20vh;
  justify-content: center;
  align-items: center;
  width: 25vw;
  display: flex;
}

.ProfileScreenContent {
  background-color: #1A1B22;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.ProfileScreenContent .sec-profile__img {
  width: 50vh;
  height: 50vh;
  top: 0;
}
.ProfileScreenContent .sec-profile__data {
  width: 50vh;
}
.ProfileScreenContent .sec-profile__data h5 {
  color: white;
}
.ProfileScreenContent .sec-profile__data p {
  color: rgb(166, 171, 166);
  font-weight: bold;
}
.ProfileScreenContent .sec-profile__data .profileNameAge {
  display: flex;
  justify-content: space-between;
}
.ProfileScreenContent .sec-profile__data .profileInterests {
  display: flex;
  flex-wrap: wrap;
}
.ProfileScreenContent .sec-profile__data .profileInterests p {
  background-color: var(--app-color-primary);
  color: white;
  border-radius: 50px;
  min-width: 50px;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
